SoapWebService/SoapWebServ/WebClient/Connected Services/SoapWebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowRaces">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destinition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowRacesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowRacesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTickets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destinition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTicketsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckTicketsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destinition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="seat" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowRacesSoapIn">
    <wsdl:part name="parameters" element="tns:ShowRaces" />
  </wsdl:message>
  <wsdl:message name="ShowRacesSoapOut">
    <wsdl:part name="parameters" element="tns:ShowRacesResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTicketsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTickets" />
  </wsdl:message>
  <wsdl:message name="CheckTicketsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="BuyTicketSoapIn">
    <wsdl:part name="parameters" element="tns:BuyTicket" />
  </wsdl:message>
  <wsdl:message name="BuyTicketSoapOut">
    <wsdl:part name="parameters" element="tns:BuyTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ShowRaces">
      <wsdl:input message="tns:ShowRacesSoapIn" />
      <wsdl:output message="tns:ShowRacesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTickets">
      <wsdl:input message="tns:CheckTicketsSoapIn" />
      <wsdl:output message="tns:CheckTicketsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyTicket">
      <wsdl:input message="tns:BuyTicketSoapIn" />
      <wsdl:output message="tns:BuyTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowRaces">
      <soap:operation soapAction="http://tempuri.org/ShowRaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTickets">
      <soap:operation soapAction="http://tempuri.org/CheckTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyTicket">
      <soap:operation soapAction="http://tempuri.org/BuyTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowRaces">
      <soap12:operation soapAction="http://tempuri.org/ShowRaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTickets">
      <soap12:operation soapAction="http://tempuri.org/CheckTickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyTicket">
      <soap12:operation soapAction="http://tempuri.org/BuyTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44386/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44386/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>